#logo {
    text-align:center;
    padding-top:8%;
}

#description {
    margin-top:50px;
    text-align:center;
}

#description > .actions {
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-around;
}

#description > .actions > a {
    margin-bottom: 8px;
}

#rss h2 {
    text-align: center;
}

#rss a {
    color: #E1BB81;
}

.ticket {
    border: 2px solid #EFEFEF;
    color: #EFEFEF;

    padding: 5px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
}
