#landing > header > h1 {
    text-align: center;
    margin: 0px;
}

#landing > header > h1 > img {
    width: 126px;
}

#landing > section > p:first-child {
    font-size: 1.4em;
    text-align: center;
}

#landing > section > p:last-child {
    font-size: 1.2em;
    color: #E1BB81;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

#container > div {
    flex-basis: 30%;
}

#current-sprint > header > a {
    color: #E1BB81;
    text-decoration: none;
}

#current-sprint > section > .user-story {
    margin: 10px 0px;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 20px;
    border-radius: 10px;
}

#current-sprint > section > .user-story > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#current-sprint > section > .user-story > header > h5 {
    padding-right: 10px;
}

#current-sprint > section > .user-story > header > .value {
    display: flex;
    justify-content: space-between;
    width: 50px;
    padding: 5px 10px;
    background-color: #003C71;
    border-radius: 5px;
}

#current-sprint > section > .user-story > header > .value > span {
    margin-left: 5px;
}

#current-sprint > section > .user-story > header > h5 {
    margin-top: 5px;
    margin-bottom: 10px;
}

#current-sprint > section > .user-story > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#current-sprint > section > .user-story > section > .status {
    padding: 5px 10px;
    background-color: #CC7832;
    border-radius: 5px;
}

#current-sprint > section > .user-story > section > .status.todo {
    background-color: #E0E0F0;
    color: #003C71;
}
#current-sprint > section > .user-story > section > .status.to_release,
#current-sprint > section > .user-story > section > .status.review {
    background-color: #08C;
}
#current-sprint > section > .user-story > section > .status.done {
    background-color: green;
}

#current-sprint > section > .user-story > section > .estimations {
    display: flex;
    justify-content: space-between;
}

#current-sprint > section > .user-story > section > .estimations > .estimated-time {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #2060A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current-sprint > section > .user-story > section > .estimations > progress {
    margin-left: 5px;
    margin-right: 5px;
}

#current-sprint > section > .user-story > section > .estimations > .spent-time.warning {
    background-color: #D00;
}

#current-sprint > section > .user-story > section > .estimations > .spent-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #2060A0;
}

#join {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#join > section > a {
    display: block;
    color: #F1DEC2;
    text-decoration: none;
    padding: 15px;
    clip-path: polygon(5% 0%, 90% 0%, 100% 20%, 100% 80%, 95% 100%, 20% 100%, 0% 45%, 0% 20%);
    background-color: #F1DEC2;
}

#join > section > a > div {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-variant: small-caps;
    font-size: 0.8em;
    padding: 10px 100px;
    clip-path: polygon(5% 0%, 90% 0%, 100% 20%, 100% 80%, 95% 100%, 19% 100%, 0% 40%, 0% 20%);
}

#join > section > a p {
    font-weight: bold;
    font-size: 4em;
    margin: 0px;
}

#join > footer > div {
    display: flex;
    justify-content: center;
}

#social-networks {
    background-color: #2C2825;
    border-radius: 10px;
}

#social-networks > header > h2 {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-variant: small-caps;
    color: #F1DEC2;
}

#social-networks > header > h2 > a {
    text-decoration: none;
}

#social-networks > header > h2 > a > img {
    margin-left: 10px;
    margin-right: 10px;
}

#social-networks > section > ul {
    color: #F1DEC2;
}

#social-networks > section > ul > .ticket {
    margin: 10px 0px;
}

#social-networks > section > ul > .ticket a {
    display: block;
    color: #F1DEC2;
    text-decoration: none;
}

#social-networks > section > ul > .ticket h4,
#social-networks > section > ul > .ticket h5 {
    margin: 0px;
    font-weight: normal;
    font-size: 0.7em;
}

#social-networks > section > ul > .ticket h4 {
    font-size: 1.1em;
    font-style: italic;
}

#previous-sprint {
    flex-basis: 80%;
    margin: auto;
    margin-top: 40px;
}

#previous-sprint > header > h3 {
    text-align: center;
}

#previous-sprint > section {
    display: flex;
    justify-content: center;
}

#previous-sprint > section > iframe {
    width: 600px;
    height: 320px;
}


@media (max-width: 500px) {
    #landing {
        width: 90%;
        margin: auto;
    }
    
    #landing > section > p:first-child {
        font-size: 1.2em;
    }
    
    #landing > section > p:last-child {
        margin-bottom: 50px;
    }
    
    #landing > footer {
        flex-direction: column;
    }
    
    #landing > footer > a {
        width: 200px;
        height: 180px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #container {
        margin-top: 50px;
    }
    
    #social-networks {
        margin-top: 40px;
    }
    
    #current-sprint, #social-networks {
        flex-basis: 80%;
    }
    
    #current-sprint > header > a {
        text-align: center;
    }
    
    #current-sprint > section > .user-story > section {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    #current-sprint > section > .user-story > section > .status {
        margin-bottom: 10px;
    }
    
    #current-sprint > footer {
        text-align: center;
    }
    
    #social-networks > header {
        justify-content: center;
    }
    
    #previous-sprint > section > iframe {
        width: 250px;
        height: 125px;
    }
}

@media (max-width: 1200px) {
    #container {
        width: 95%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    #container > div {
        flex-basis: auto;
    }

    #social-networks {
        margin-top: 20px;
    }
}