html {
    background: url('../images/backgrounds/wallpaper.jpg') no-repeat;
    background-size: cover;
    color: #EFEFEF;
}

body {
    margin:0px;
}

body > header {
    padding-left:20px;
    padding-right:10px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #EFEFEF;
}

body > header a {
    color: #08C;
    padding-left:10px;
    padding-right:10px;
    font-size:1.2em;
    text-decoration:none;
}

#toolbar {
    display: flex;
    align-items: center;
}

#logo {
    text-align:center;
    margin-top:10%;
}

.info-card {
    max-width: 320px;
    background: rgba(0,0,0,0.6);
    margin-bottom:10px;
    padding: 10px 20px;
}

.info-card em {
    display: block;
}

.info-card strong {
    display:block;
    font-size: 1.2em;
}