html {
    background: url('../images/backgrounds/wallpaper.jpg') no-repeat;
    background-size: cover;
    color: #EFEFEF;
}

body {
    margin:0px;
}

#page-title h1 {
    display: flex;
    align-items: center;
    margin:0px;
    padding-top: 30px;
    padding-left: 100px;
}

#page-title h1 > img {
    width:48px;
    height:48px;
    margin-right:15px;
    background-color: rgba(0,0,0,0.6);
    border-radius:25px;
    border: 1px solid #EFEFEF;
}

#logo {
    text-align:center;
    padding-top:10%;
}

.info-card {
    max-width: 320px;
    background: rgba(0,0,0,0.6);
    margin-bottom:10px;
    padding: 10px 20px;
}

.info-card em {
    display: block;
}

.info-card strong {
    display:block;
    font-size: 1.2em;
}

.button {
    background-color: #EFEFEF;
    color: #222;
    padding: 10px 20px;
    text-decoration: none;
}

.form {
    margin:auto;
    text-align:center;
}

.form input,
.form textarea {
    width: 250px;
    margin-top:10px;
    background:none;
    border: none;
    border-bottom: 1px solid #EFEFEF;
    color: #EFEFEF;
}

.form input:focus,
.form textarea {
    border-bottom: 1px solid #F5871F;
    color: #F5871F;
}

.form input {
    text-align:center;
}

.form-group {
    padding-top:20px;
}

.form .form-group > label {
    display:block;
}

.form button {
    margin-top: 20px;
}

.servers-list {
    display:flex;
}

.server {
    padding:10px 20px;
    background: rgba(0,0,0,0.6);
    
}

.server strong {
    display:block;
}

.server em {
    display:block;
}