#board {
    margin:20px;
}

#board > header {
    margin-bottom:20px;
}

#board > header > .button {
    margin-right:10px;
}

#board > section {
    display: flex;
    justify-content: space-around;
}

.board-column {
    width: 300px;
}

.board-column h3 {
    margin:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.board-column > section {
    min-height: 600px;
}

.board-card {
    display:flex;
    flex-direction: column;
    margin:5px;
    background-repeat: no-repeat;
    background-position: right 15px;
    color: #EFEFEF;
    text-decoration: none;
}


.board-card[data-type=bug] {
    background-image: url('../images/icons/bug.png');
}

.board-card[data-type=evo] {
    background-image: url('../images/icons/evolution.png');
}

.board-card > header {
    height: 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.board-card > header > h5 {
    width: 80%;
    margin: 0px;
}

.board-card > section {
    background: rgba(0,0,0,0.7);
    padding: 15px;
}

.board-card > section > p {
    margin: 0px;
    font-size:0.9em;
}

#feedback {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

#feedback > header > h2 {
    display: flex;
    align-items: center;
}

#feedback > section {
    display:flex;
}

#feedback > section > .infos {
    flex-grow: 1;
}

#feedback > section > .feedback-content {
    flex-grow: 4;
}

#feedback > section > .feedback-content > .description {
    margin: auto;
    width:80%;
    padding:20px;
    background: rgba(0,0,0,0.6);
}

#feedback > section > .feedback-content > .description > textarea {
    width:100%;
    resize: none;
    padding: 5px;
}

#action-buttons > .button {
    display:block;
    margin-bottom: 10px;
    min-width: 150px;
}

#update-description-button {
    display: none !important;
}

.comment {
    margin:10px 10%;
    background-color: rgba(0,0,0,0.8);
    color: #EFEFEF;
    padding: 20px;
}

.comment > .author {
    text-align: right;
    font-style: italic;
}

#new-comment {
    width:80%;
    margin: auto;
}

#new-comment textarea {
    display:block;
    width: 100%;
    height:150px;
    resize: none;
}

#new-comment button {
    display: block;
    margin: auto;
    margin-top: 15px;
    background-color: rgba(0,0,0,0.8);
    color: #EFEFEF;
    padding: 10px 15px;
    cursor: pointer;
}

#project-description {
    margin: 40px;
}

#project-description > section > h3 {
    color: #8BF;
    text-align:center;
}

#project-description > section > ul,
#project-description > section > p,
#project-description > section > strong {
    width: 50%;
    padding-top:5px;
    margin:auto;
}

#project-description > section > p {
    text-align: justify;
}

#project-description > section > strong {
    display: block;
}
