#board-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#board-header h2 {
    flex-grow: 4;
}

#board-tools {
    display: flex;
    flex-grow:1;
    justify-content: space-around;
}

#board-tools a {
    padding:5px 10px;
    color: #EFEFEF;
    text-decoration: none;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid #EFEFEF;
}

#board {
    display: flex;
    justify-content: space-around;
}

.board-column {
    width: 300px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #EFEFEF;
}

.board-column h3 {
    margin:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #EFEFEF;
}

.board-column > section {
    height: 600px;
    overflow-y: auto;
}

.board-card {
    display:flex;
    align-items: center;
    margin:5px;
    border: 1px solid #565656;
    background-color: rgba(255, 255, 255, 0.2);
    color: #EFEFEF;
    text-decoration: none;
}

.board-card .title {
    font-weight: bold;
}

.type-image {
    margin-left:10px;
    margin-right:20px;
}

.type-image img {
    width:48px;
    height:48px;
    background-color: rgba(0,0,0,0.6);
    border-radius:25px;
    border: 1px solid #EFEFEF;
}

#feedback {
    width: 90%;
    margin: auto;
}

#feedback > header > h2 {
    display: flex;
    align-items: center;
}

#feedback > section {
    display:flex;
}

#feedback > section > .infos {
    flex-grow: 1;
}

#feedback > section > .content {
    flex-grow: 4;
}

#feedback > section > .content > .description {
    margin: auto;
    width:80%;
    padding:20px;
    background: rgba(0,0,0,0.6);
}

#feedback > section > .content > .description > textarea {
    width:100%;
    resize: none;
    padding: 5px;
}

#feedback > section > .actions {
    flex-grow: 1;
}

#feedback > section > .actions > button {
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    padding:15px 30px;
    color: #A0A0A0;
    border: 1px solid #A0A0A0;
    border-radius:40px;
}

#update-description-button {
    display: none;
}

#home-button {
    background-color: rgba(0,0,0,0.8);
    padding:15px 30px;
    color: #A0A0A0;
    border: 1px solid #A0A0A0;
    border-radius:40px;
    text-align: center ;
}

#home-button > a {
    color: #A0A0A0;
    text-decoration: none ;
}

#home-button > a:visited {
    color: #A0A0A0;
}

.comment {
    margin:10px 10%;
    background-color: rgba(0,0,0,0.8);
    color: #EFEFEF;
    padding: 20px;
}

.comment > .author {
    text-align: right;
    font-style: italic;
}

#new-comment {
    width:80%;
    margin: auto;
}

#new-comment textarea {
    display:block;
    width: 100%;
    height:150px;
    resize: none;
}

#new-comment button {
    display: block;
    margin: auto;
    margin-top: 15px;
    background-color: rgba(0,0,0,0.8);
    color: #EFEFEF;
    padding: 10px 15px;
    cursor: pointer;
}