{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            <button>{{ 'game.tutorial.launch' | trans }}</button>
        </div>
        <div>
            <h3>{{ 'game.user.my_servers' | trans }}</h3>
            
            <h3>{{ 'game.available_servers' | trans }}</h3>
        </div>
    </div>
{% endblock %}